.App {
  text-align: center;
}
body{
  background-color: antiquewhite;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}
.app__left{
  display: flex;
  flex-direction: column;
  flex: 0.8;
}